* {
    font-family: 'Bebas Neue','Noto Sans', serif;
}

:root {
    /*Colores*/
    --white: #fff;
    --green-gray-100: #E9E6DD;
    --green-gray-200: #FAF9F6;
    --gray-800: #373737;
    --gray-900: #000;
    --green-200: #E8F5E9;
    --green-500: #79DE90;
    --green-900: #364E3B;
    --yellow-500: #FDD981;
    --red-500: #D71712;
    --primary-font: 'Bebas Neue', serif;
    --secondary-font: 'Noto Sans', serif;
}

/*navbar*/
.navbar {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    backdrop-filter: blur(8px);
    padding: 12px 24px !important;
}

.navbar .navbar-brand img{
    width: 50%;
}

.navbar .navbar-collapse{
    justify-content: center;
}

.navbar .navbar-collapse .navbar-nav{
    text-align: center;
}

.navbar .navbar-collapse .nav-link{
    color: var(--gray-900);
}

.navbar .navbar-collapse .navbar-buttons-grid{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.navbar .navbar-collapse .navbar-buttons-grid .btn-light{
    margin: 0 0 16px 0;
}

.navbar .navbar-collapse .navbar-buttons-grid .btn-primary{
    background-color: var(--red-500);
    border: none;
}

/*hero image*/
#heroimage {
    width: 100%;
    background-image: url('https://github.com/ivankstro7/turintravel/blob/main/assets/banner-img..png?raw=true');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
}

#heroimage .content-heroimage {
    padding: 8rem 1rem 1rem 1rem;
}

#heroimage .content-heroimage .heroimage-title {
    margin-bottom: 1.5rem;
    color: var(--white);
}

#heroimage .content-heroimage .heroimage-title h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

#heroimage .content-heroimage .heroimage-title p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

#heroimage .content-heroimage .heroimage-title .btn-light {
    width: 100%;
    font-size: 1.125rem;
    font-weight: 500;
    border: none;
    color: var(--gray-900);
    padding: 16px 24px;
}

#heroimage .content-heroimage .heroimage-img-grid{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

#heroimage .content-heroimage .heroimage-img-grid span{
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.7);
}

#heroimage .content-heroimage .heroimage-img-grid .img-europa{
    background-image: url('https://github.com/ivankstro7/turintravel/blob/main/assets/europa.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    padding: 1rem;
    margin-bottom: 1rem;
}

#heroimage .content-heroimage .heroimage-img-grid .img-medio-oriente{
    background-image: url('https://github.com/ivankstro7/turintravel/blob/main/assets/medio-oriente.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    padding: 1rem;
    margin-bottom: 1rem;
}

#heroimage .content-heroimage .heroimage-img-grid .img-tierra-santa{
    background-image: url('https://github.com/ivankstro7/turintravel/blob/main/assets/tierra-santa.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    padding: 1rem;
}